<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta property="og:title" content="Festivals Live Streams - Now im listening to"/> 
	<meta property="og:description" content="Festivals Live Streams - Now im listening to"/> 
	<meta property="og:type" content="website"/> 
	<meta property="og:url" content="http://live.nowimlisteningto.com"/>
	<meta property="og:site_name" content="Now im listening to ..Coachlla festival 2014 Live stream"/>
	<meta property="og:image" content="http://cdn.stereogum.com/files/2014/04/Coachella-2014-608x608.jpg"/>
	<meta property=article:publisher content='https://www.facebook.com/groups/now.im.listening.to/'/> 
    
   <title>Now Im Listening To - Share your music</title>

    <!-- Bootstrap core CSS -->
    <link href="../views/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="../views/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>
<script>

// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '720',
    width: '1280',
    videoId: 'b7JGIMlkYlM',
    playerVars: {
        'iv_load_policy': 3,'autohide':1},
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}

//4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
 // player.setPlaybackQuality('hd720');
  player.setVolume(100);
  loadInfo('b7JGIMlkYlM');
  event.target.playVideo();
  }

function onPlayerStateChange(event) {
	  if (event.data == YT.PlayerState.ENDED ) {
		  player.stopVideo();
	  }
	}

function stopVideo() {
  player.stopVideo();
}

function loadchannel(videoId) {
	  if(player) { 
		  player.loadVideoById(videoId);
	 	  loadInfo(videoId);
	 	  }
	  
}

//getting youtube video title from youtube gdata
var loadInfo = function (videoId) {
var gdata = document.createElement("script");
gdata.src = "http://gdata.youtube.com/feeds/api/videos/" + videoId + "?v=2&alt=jsonc&callback=storeInfo";
var body = document.getElementsByTagName("body")[0];
body.appendChild(gdata);
  };

var storeInfo = function (info) {
title=info.data.title;
document.getElementById("currTrackTitle").innerHTML="LIVE: " + title;
   console.log(title);
};

//Google analytics code
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-48510324-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 

'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
   
<div class="video-container" style="position:fixed;left:0px;top:-30px;width:100%;">
	<div id="player"></div>
</div>
   
<div class = "navbar navbar-inverse">
   <div class = "container">
	 <a href = "../controller/nilt" class = "navbar-brand">Now Im Listening to... <span style="color:white;font-size: 10px;">Beta</span></a>
     <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
     </button> 
                     
    	 <div class = "collapse navbar-collapse navHeaderCollapse">                               
             <ul class = "nav navbar-nav navbar-right">  
			<li class="activesc"><a href="#" id="underlinedLink2livestream" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-time"></span>
			Event lineup & schedule</a></li>
			<li><a href="#" id="underlinedLink3" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
			<li><a href="#" id="underlinedLink4" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>													                         
			</ul>                             
    </div>                               
  </div>    
</div>
   
<div class = "navbar navbar-inverse navbar-fixed-bottom" style="padding-top:5px;">

<div class="row ">
  <div class="col-xs-6 col-sm-4">
    <div id="titleContainer"> 
    <div id="currTrackTitle"></div> 
   </div> 
  </div>
  
  <div class="col-xs-6 col-sm-4">
	   <div id="playerButtons">                    				
		<button type="button" class="btn btn-primary" onclick="loadchannel('b7JGIMlkYlM')">Channel 1</button>
		<button type="button" class="btn btn-primary" onclick="loadchannel('tdcIEoxU5bI')">Channel 2</button>
		<button type="button" class="btn btn-primary" onclick="loadchannel('S8oCsAbPNRI')">Channel 3</button>
	</div>
 </div>
  <div class="col-xs-6 col-sm-4"> </div>
</div> 
</div>                        
<!-- About Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <div style="background-color:#202020;text-align:left; padding-left:5px;padding-right:5px;">
        		<span style="color:#BEF781;"><strong>So what is this about?</strong></span>
				<br>This website was built to play ,in a playlist, the recent Youtube videos that were posted by the
				users of the <a href="https://www.facebook.com/groups/now.im.listening.to/">"Now i'm listening to...."</a> Facebook group.
				<br><br><span style="color:#BEF781;"><strong>Important: </strong></span>
				<br>Please read the terms of service from YoutubeInMp3.com (<a href="http://youtubeinmp3.com/tos/">HERE</a>)before Downloading content from this website.
				
				<br><br><span style="color:#BEF781;"><strong>F.A.Q</strong></span>
				<ul>
				<li><span style="color:#BEF781;"><strong>How can i add music videos to the playlist?</strong></span>
				<br>Just Enter the facebook group and "Like" it, then post a youtube link of the song you wish to add.
				<li><span style="color:#BEF781;"><strong>What to do when the 'Download' button doesnt work? </strong></span>
				<br>Unfortunatelly, sometimes that happens. Im using an external service and sometimes it is off (It is rare..). Just try again in a few minutes.
				<li><span style="color:#BEF781;"><strong>When loading the site on my Android smartphone browser, the video shows a black screen and doesnt play. Why is that?? </strong></span>
				<br> It works on some devices. Im still working on it and hope to sort that out soon. You could try downloading other browsers like chrome, opera, and etc.. It might sort the problem.
				</ul>
				<br><br>
				<div class="hidden-xs">
				<span style="color:#BEF781;"><strong>This is my visitors map:</strong></span>
				  <div style="text-align: center; ">
				     <iframe  marginwidth="0"   frameborder="0"  marginheight="0" width="550" height="350" src="http://www.embeddedanalytics.com/reports/displayreport?reportcode=rtUh2LQvas&chckcode=gaKdkG4BY5kwfk13PlOICJ" type="text/html"  scrolling="no"></iframe>
				     <br><br>
				  </div>
				</div>
			  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    

<!-- Modal end -->

<!-- Contact Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ways to contact me</h4>
      </div>
      <div class="modal-body">
      
			  <div style="background-color:#202020;text-align:center; padding-left:5px;padding-right:5px;">
			  <span style="color:#BEF781;">Via Facebook:</span>
				<!-- Facebook Badge START --><span style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; line-height: 16px; font-variant: normal; font-style: normal; font-weight: normal; color: #555555; text-decoration: none;"></span><br/><a href="https://www.facebook.com/Vidran" target="_TOP" title="Vidran Abdovich"><img src="https://badge.facebook.com/badge/1119083452.1337.1958078608.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
				<br>
				<span style="color:#BEF781;">Via Google+:</span><br>
				<!-- Place this tag in your head or just before your close body tag. -->
				<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>

			<!-- Place this tag where you want the widget to render. -->
			<div class="g-person" data-width="320" data-href="//plus.google.com/u/0/100699221861245624678" data-layout="landscape" data-rel="author"></div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-

hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div style="margin: 15px 0px 0px; display: inline-block; text-align: center; width: 200px;"><div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: rgb(255, 255, 255);"><a href="http://localtimes.info/North_America/United_States/California/Coachella/" style="text-decoration: none; font-size: 13px; color: rgb(0, 0, 0);"><img src="http://localtimes.info/images/countries/us.png"="" border=0="" style="border:0;margin:0;padding:0"=""> Coachella</a></div><script type="text/javascript" src="http://localtimes.info/clock.php?continent=North America&country=United States&province=California&city=Coachella&cp1_Hex=000000&cp2_Hex=FFFFFF&cp3_Hex=000000&fwdt=200&ham=0&hbg=0&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=1014"></script></div>
      </div>
      <div class="row lineupHeader">
  <div class="col-xs-6 col-sm-4"><Strong>Channel 1 Friday April 11</Strong></div>
  <div class="col-xs-6 col-sm-4"><strong>Channel 2 Friday April 11</strong></div>
  <div class="col-xs-6 col-sm-4"><Strong>Channel 3 Friday April 11</Strong></div>
</div>  
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">3:30 pm ZZ Ward</div>
  <div class="col-xs-6 col-sm-4">3:30 pm Flatbush Zombiess</div>
  <div class="col-xs-6 col-sm-4">3:30 pm Jagwar Ma</div>
</div> 
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">4:15 pm Grouplove</div>
  <div class="col-xs-6 col-sm-4">5:20 pm AFI</div>
  <div class="col-xs-6 col-sm-4">4:20 pm Wye Oak</div>
</div> 
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">5:15 pm MS MR</div>
  <div class="col-xs-6 col-sm-4">6:10 pm GOAT</div>
  <div class="col-xs-6 col-sm-4">5:15 pm Dum Dum Girls</div>
</div>     
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">6:00 pm Bastille</div>
  <div class="col-xs-6 col-sm-4">7:00 pm The Afghan Whigs</div>
  <div class="col-xs-6 col-sm-4">6:05 pm A$AP Ferg</div>
</div>  
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">7:50 pm Neko Case</div>
  <div class="col-xs-6 col-sm-4">8:15 pm Woodkid</div>
  <div class="col-xs-6 col-sm-4">7:00 pm Kate Nash</div>
</div>  
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">8:40 pm Ellie Goulding</div>
  <div class="col-xs-6 col-sm-4">9:05 pm Chromeo</div>
  <div class="col-xs-6 col-sm-4">8:00 pm Zedd Hangout - Backstage Meet & Greet</div>
</div>  
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">9:30 pm Broken Bells</div>
  <div class="col-xs-6 col-sm-4">9:55 pm Bryan Ferry</div>
  <div class="col-xs-6 col-sm-4">9:30 pm Carnage</div>
</div>  
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">10:30 pm Girl Talk</div>
  <div class="col-xs-6 col-sm-4">11:00 pm The Cult</div>
  <div class="col-xs-6 col-sm-4">10:25 pm The Glitch Mob</div>
</div>     
  <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">12:00 am Anti-Flag</div>
  <div class="col-xs-6 col-sm-4">11:20 pm Martin Garrix</div>
</div> 
 <div class="row lineupContent">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">12:20 am Zedd</div>
</div>   
<div class="row lineupHeader">
  <div class="col-xs-6 col-sm-4"><strong>Channel 1 - Saturday April 12</strong></div>
  <div class="col-xs-6 col-sm-4"><strong>Channel 2 - Saturday April 12</strong></div>
  <div class="col-xs-6 col-sm-4"><strong>Channel 3 - Saturday April 12</strong></div>
</div> 
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">3:30 pm Bear Hands</div>
  <div class="col-xs-6 col-sm-4">3:30 pm White Lies</div>
  <div class="col-xs-6 col-sm-4">3:30 pm Foxygen</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">4:10 pm CHVRCHES</div>
  <div class="col-xs-6 col-sm-4">4:15 pm Temples</div>
  <div class="col-xs-6 col-sm-4">4:30 pm Ty Segall</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">5:20 pm The Head and The Heart</div>
  <div class="col-xs-6 col-sm-4">6:10 pm City and Colour</div>
  <div class="col-xs-6 col-sm-4">5:20 pm Bombay Bicycle Club</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">6:10 pm Cage the Elephant</div>
  <div class="col-xs-6 col-sm-4">7:05 pm Future Islands</div>
  <div class="col-xs-6 col-sm-4">6:10 pm CHVRCHES Hangout - Backstage Meet & Greet</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">7:00 pm Capital Cities</div>
  <div class="col-xs-6 col-sm-4">8:00 pm Warpaint</div>
  <div class="col-xs-6 col-sm-4">6:30 pm Washed Out</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">7:55 pm Lorde</div>
  <div class="col-xs-6 col-sm-4">9:00 pm Pixies</div>
  <div class="col-xs-6 col-sm-4">8:25 pm Dillon Francis</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">8:45 pm Foster the People</div>
  <div class="col-xs-6 col-sm-4">9:50 pm MGMT</div>
  <div class="col-xs-6 col-sm-4">9:25 pm Fatboy Slim</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">9:40 pm Queens of the Stone Age</div>
  <div class="col-xs-6 col-sm-4">10:45 pm Sleigh Bells</div>
  <div class="col-xs-6 col-sm-4">10:25 pm Empire of the Sun</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">10:35 pm Pharrell Williams</div>
  <div class="col-xs-6 col-sm-4">11:35 pm Pet Shop Boys</div>
  <div class="col-xs-6 col-sm-4">11:25 pm Skrillex</div>
</div>
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">11:35 pm Muse</div>
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
<div class="row lineupHeader">
  <div class="col-xs-6 col-sm-4"><strong>Channel 1 - Sunday April 13</strong></div>
  <div class="col-xs-6 col-sm-4"><strong>Channel 2 - Sunday April 13</strong></div>
  <div class="col-xs-6 col-sm-4"><strong>Channel 3 - Sunday April 13</strong></div>
</div> 
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">3:30 pm J. Roddy Walston & The Business</div>
  <div class="col-xs-6 col-sm-4">3:30 pm Preservation Hall Jazz Band</div>
  <div class="col-xs-6 col-sm-4">3:30 pm Surfer Blood</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">4:15 pm Trombone Shorty & Orleans Avenue</div>
  <div class="col-xs-6 col-sm-4">4:30 pm Frank Turner</div>
  <div class="col-xs-6 col-sm-4">6:00 pm Flosstradamus</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">5:10 pm Fishbone</div>
  <div class="col-xs-6 col-sm-4">5:30 pm Superchunk</div>
  <div class="col-xs-6 col-sm-4">6:50 pm Darkside</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">6:00 pm Blood Orange</div>
  <div class="col-xs-6 col-sm-4">6:30 pm The 1975</div>
  <div class="col-xs-6 col-sm-4">7:50 pm Alesso</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">7:40 pm The Naked and Famous</div>
  <div class="col-xs-6 col-sm-4">7:15 pm Little Dragon</div>
  <div class="col-xs-6 col-sm-4">9:00 pm Big Gigantic</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">8:30 pm Calvin Harris</div>
  <div class="col-xs-6 col-sm-4">8:30 pm Daughter</div>
  <div class="col-xs-6 col-sm-4">9:55 pm Adventure Club</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">9:25 pm Beck</div>
  <div class="col-xs-6 col-sm-4">10:10 pm Nas</div>
  <div class="col-xs-6 col-sm-4">10:45 pm Duck Sauce</div>
</div>  
<div class="row lineupContent">
  <div class="col-xs-6 col-sm-4">10:20 pm Arcade Fire</div>
  <div class="col-xs-6 col-sm-4">11:10 pm Disclosure</div>
  <div class="col-xs-6 col-sm-4"></div>
</div> 
    </div>
  </div>
</div>
<!-- Modal end -->
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53230e4114f8a5ea"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 6
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'groups/now.im.listening.to/'}
      ]
    }   
  });
</script>
<!-- AddThis Smart Layers END -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../views/js/bootstrap.min.js"></script>
  </body>
</html>
