
<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
	body 
	{
	background-image:url('http://3.bp.blogspot.com/-3r_x28-vEoM/URSKcUeqeuI/AAAAAAAAGJ8/aPCwlwUONuA/s1600/FMFA+2013+Key+Artwork.jpg');
	background-size:100% 150%;
	background-repeat:no-repeat;
	}
	</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Music festivals live streams">
    <meta name="author" content="">
	<meta property="og:image" content="http://3.bp.blogspot.com/-3r_x28-vEoM/URSKcUeqeuI/AAAAAAAAGJ8/aPCwlwUONuA/s1600/FMFA+2013+Key+Artwork.jpg"/>
	<meta property="og:url" content="http://nilt.vandervidi.cloudbees.net/views/liveStream.html"/>
	<meta property="og:title" content="Now im listening to ...Live Streams"/>
	<title>Now Im Listening To... Live Streams</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-48510324-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
		<div class = "navbar navbar-inverse navbar-fixed-top">
                        <div class = "container">                             
                                <a href = "../controller/nilt" class = "navbar-brand">Now Im Listening to...</a>
                                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                                        <span class = "icon-bar"></span>
                                        <span class = "icon-bar"></span>
                                        <span class = "icon-bar"></span>
                                </button>
                               
                                <div class = "collapse navbar-collapse navHeaderCollapse">                               
                                        <ul class = "nav navbar-nav navbar-right">                                       
                                                <li><a href="../controller/nilt"><span class="glyphicon glyphicon-refresh">  </span> Refresh playlist</a></li>
												<li ><a href="../views/about.html"><span class="glyphicon glyphicon-info-sign"></span> About</a></li></a></li>
												<li><a href="../views/contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>	                           
                                        </ul>                               
                                </div>                               
                        </div>
                </div>

            <p class="lead">		
			<div class="panel panel-primary">
			  <div class="panel-heading"><span style="color:red;"> Live Stream:</span>Future Music Asia Day 1</div>
			  <div style="background-color:#202020;text-align:center;">
				<embed width="695" height="400" src="http://www.be-at.tv/embed.swf?k=_6oFAA" allowFullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
			  </div>
			</div>
			</p>
            
          <div class="mastfoot">
            <div class="inner">
              <p>Copyright © 2014 Vidran Abdovich , NILT. All Rights Reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
