<!DOCTYPE html>
<html>
	<head>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>
		<section id="main">
			<section id="data"> </section>
		</section>
		<script>
			$.ajax({
			url:'v.xml',type:'GET',datatype:'xml',success: function(xml,textStatus,jqXHR) {
			var ttl=$(xml).find('channel title:first');
			//css xpath way
			var sHTML="<h1>"+ttl.text()+"</h1><ul>";
			$(xml).find("channel>item").each(//css xpath way
			function() {
			var item=$(this);
			var name=item.find('title').text();
			var desc=item.find('description').text();
			var link=item.find('link').text();
			var pubDate=item.attr('pubDate');
			//this is the id attribute
			sHTML+=("<li pubDate='"+pubDate+"' ><b>"+name+"</b><br>"+desc+"<br><li link='"+link+"' width='50'></li>");
			});
			sHTML+="</ul>";
			$('#data').html(sHTML);
			},error: function() {
			console.log("error");
			}
			});
		</script>
	</body>
</html>